<div class="footer">
  <a href="#" class="fang share-div">
    <div class="cover">
      <span>理想状态?</span>
    </div>
  </a>
  <a href="#" class="qiao share-div">
    <div class="cover">
      <span>stay hungry<br>stay foolish</span>
    </div>
  </a>
  <a href="#" class="you share-div">
    <div class="cover">
      <span>敬畏自然!</span>
    </div>
  </a>
  <a href="#" class="ted share-div">
    <div class="cover">
      <span>活在当下!</span>
    </div>
  </a>
  <a href="#" class="ping share-div">
    <div class="cover">
      <span>平凡的世界.</span>
    </div>
  </a>
  <a href="#" class="guai share-div">
    <div class="cover">
      <span>?!</span>
    </div>
  </a>
</div>