<div class="footer">
  <a href="http://yixi.tv/lecture/177" target="_blank" class="fang share-div">
    <div class="cover">
      <span>理想状态?</span>
    </div>
  </a>
  <a href="https://book.douban.com/subject/6798611/" target="_blank" class="qiao share-div">
    <div class="cover">
      <span>stay hungry<br>stay foolish</span>
    </div>
  </a>
  <a href="https://movie.douban.com/subject/1297359/" target="_blank" class="you share-div">
    <div class="cover">
      <span>敬畏自然!</span>
    </div>
  </a>
  <a href="http://open.163.com/movie/2013/8/1/L/M94IULLG6_M94IURE1L.html" target="_blank" class="ted share-div">
    <div class="cover">
      <span>活在当下!</span>
    </div>
  </a>
  <a href="https://book.douban.com/subject/24380577/" target="_blank" class="ping share-div">
    <div class="cover">
      <span>平凡的世界.</span>
    </div>
  </a>
  <a href="https://book.douban.com/subject/25984204/" target="_blank" class="guai share-div">
    <div class="cover">
      <span>?!</span>
    </div>
  </a>
</div>